
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="normal-breadcrumb set-bg"
         data-setbg="/Content/img/normal-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="normal__breadcrumb__text">
                    <h2>Our Blog</h2>
                    <p>Welcome to the official Anime blog.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Normal Breadcrumb End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="/Content/img/blog/blog-1.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> April 2019</p>
                                <h4>
                                    <a href="#">
                                        Demon Slayer: Kimetsu no Yaiba
                                    </a>
                                    <!--(鬼滅の刃, Kimetsu no Yaiba, "Blade of Demon Destruction")-->
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-4.jpg">
                            <div class="blog__item__text">
                                <p>
                                    <span class="icon_calendar"></span> July 2014
                                </p>
                                <h4>
                                    <a href="#">
                                        Tokyo Ghoul
                                    </a>
                                    <!--(Japanese: 東京喰種トーキョーグール, Hepburn: Tōkyō Gūru)-->
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-5.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 05 July 2019</p>
                                <h4>
                                    <a href="#">
                                        Dr.STONE
                                    </a>
                                    <!--(Japanese: Dr.STONEドクター ストーン Hepburn: Dokutā Sutōn)-->
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">`
                        <div class="blog__item set-bg" data-setbg="/Content/img/blog/blog-7.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 04 October  2014</p>
                                <h4>
                                    <a href="#">
                                        Fate/stay night: Unlimited Blade Works 2014
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-10.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 05 January 2020</p>
                                <h4>
                                    <a href="#">
                                        ID:INVADED
                                    </a>
                                    <!--Id:Invaded (Japanese: イド：インヴェイデッド, Hepburn: Ido: Inveideddo), stylized as I⊃：INVΛ⊃≡⊃-->
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-11.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 03 July 2016</p>
                                <h4>
                                    <a href="#">
                                        Your Name
                                    </a>
                                    <!--(Japanese: 君の名は。, Hepburn: Kimi no Na wa)-->
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-2.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 03 April 2016</p>
                                <h4>
                                    <a href="#">
                                        My Hero Academia
                                    </a>
                                    <!--(Japanese: 僕のヒーローアカデミア, Hepburn: Boku no Hīrō Akademia)-->
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-3.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span>  23 January 2010</p>
                                <h4>
                                    <a href="#">
                                        Fate/stay night Movie: Unlimited Blade Works
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg" data-setbg="/Content/img/blog/blog-6.jpg">
                            <div class="blog__item__text">
                                <<p><span class="icon_calendar"></span> 2021</p>
                                <h4>
                                    <a href="#">
                                        <a href="#">
                                            Dr. Stone: Stone Wars
                                        </a>
                                        <!--(Japanese: Dr.STONE (ss2)ドクター ストーン Hepburn: Dokutā Sutōn)-->
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-8.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> April 2019</p>
                                <h4>
                                    <a href="#">
                                        Demon Slayer
                                    </a>
                                    <!--Kimetsu no Yaiba (鬼滅の刃, Kimetsu no Yaiba, "Blade of Demon Destruction")-->
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item small__item set-bg"
                             data-setbg="/Content/img/blog/blog-9.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> March 2006</p>
                                <h4>
                                    <a href="#">
                                        BLEACH
                                    </a>
                                    <!--(ブリーチ Burīchi)-->
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="blog__item set-bg"
                             data-setbg="/Content/img/blog/blog-12.jpg">
                            <div class="blog__item__text">
                                <p><span class="icon_calendar"></span> 2010</p>
                                <h4>
                                    <a href="#">
                                        Fairy Tail
                                    </a>
                                    <!--(フェアリーテイル Fearī Teiru)-->
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
